.vs/
packages/

TodoListBackend/TodoList.Application/.vs/
TodoListBackend/TodoList.Application/bin/
TodoListBackend/TodoList.Application/obj/

TodoListBackend/TodoList.Core/bin/
TodoListBackend/TodoList.Core/obj/

TodoListBackend/TodoList.Infraestructure/bin/
TodoListBackend/TodoList.Infraestructure/obj/

TodoListBackend/TodoList.Infraestructure/Migrations/

TodoListBackend/TodoList.Tests/.vs/bin/
TodoListBackend/TodoList.Tests/.vs/obj/

TodoListBackend/TodoList.WebAPI/.vs/
TodoListBackend/TodoList.WebAPI/bin/
TodoListBackend/TodoList.WebAPI/obj/