.vs/
packages/

TodoList.Application/.vs/
TodoList.Application/.vs/bin/
TodoList.Application/.vs/obj/

TodoList.Core/.vs/bin/
TodoList.Core/.vs/obj/

TodoList.Infraestructure/.vs/bin/
TodoList.Infraestructure/.vs/obj/

TodoList.Tests/.vs/bin/
TodoList.Tests/.vs/obj/

TodoList.WebAPI/.vs/
TodoList.WebAPI/.vs/bin/
TodoList.WebAPI/.vs/obj/