.vs/
packages/

TodoList.Application/.vs/
TodoList.Application/bin/
TodoList.Application/obj/

TodoList.Core/bin/
TodoList.Core/obj/

TodoList.Infraestructure/bin/
TodoList.Infraestructure/obj/

TodoList.Infraestructure/Migrations/

TodoList.Tests/.vs/bin/
TodoList.Tests/.vs/obj/

TodoList.WebAPI/.vs/
TodoList.WebAPI/bin/
TodoList.WebAPI/obj/